#
# Touchscreen driver configuration
#
menuconfig SENSOR
	bool "sensor supports"
	help
	  Say Y here, and a list of supported touchscreens will be displayed.
	  This option doesn't affect the kernel.

	  If unsure, say Y.

if SENSOR

config CM3217_LIGHTSENSOR
	bool "cm3217 lightsensor support"
	depends on SENSOR
	default y
	help
	  support the use of cm3217 lightsensor
	  
config ADXL345_GSENSOR_MODULE 
	bool "Gsensor support"
	depends on SENSOR
	default y
	
config GSENSOR_AUTO_ROTATION_TEST
	bool "Enable auto rotation test by itself"
	depends on ADXL345_GSENSOR_MODULE
	help
	  Say Y here to enable support for auto rotation testing.



endif
